<a href="https://colab.research.google.com/github/rutu56/Celebal/blob/main/week3_assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA TYPES IN PYTHON

1.Lists:
A list is a mutable, or changeable, ordered sequence of elements. Each
element or value that is inside of a list is called an item.lists are defined by having values between square brackets [ ].
Lists are a very flexible data type because they are mutable in that theycan have values added, removed, and changed.
EX: mystr=[4,5,6,7,8,0]

2.Tuples:
A tuple is used for grouping data. It is an immutable, or unchangeable,
ordered sequence of elements.
Tuples are very similar to lists, but they use parentheses ( ) instead of
square brackets and because they are immutable their values cannot be
modified.
EX:coral = ('blue coral', 'staghorn coral', 'pillar coral')

3.Sets:
The sets are unordered  collections of unique elements. The elements in set are stored in { }. Just like tuples sets are unchangeable and unindexed datatype.
EX: myset={1,2,3,4,5,6,7}

4.Dictionary:
Dictionary is an unordered collection of data values, used to store data in key value pair.values in a dictionary can be of any data type & can be duplicated ,whereas  keys can't be repeated & must be immutable.
EX: capitals:{"India":"Delhi","France":"Paris","Russia":"Moscow"}

In [ ]:
#LIST METHODS
# 1.sort()
l1=[1,8,7,2,21,15,-9,-987,67,876,54,12,0,-2 ,-6]
l1.sort()
print(l1)

In [ ]:
# 2.reverse()
l1=[1,8,7,2,21,15,-9,-987,67,876,54,12,0,-2 ,-6]
l1.reverse()
print(l1)

In [ ]:
# 3.append() [adds at end of list]
l1=[1,8,7,2,21,15,-9,-987,67,876,54,12,0,-2 ,-6]
l1.append(89)
l1.append(767)
print(l1)

In [ ]:
# 4.insert()
l1=[1,8,7,2,21,15,-9,-987,67,876,54,12,0,-2 ,-6]
l1.insert(0,999)
l1.insert(3,555)  #inserts 555 at index 3        
print(l1)

In [ ]:
# 5.pop()
l1=[1,8,7,2,21,15,-9,-987,67,876,54,12,0,-2 ,-6]
l1.pop(2) # removes number 7 from its index 2
print(l1)

In [ ]:
# 6.remove()
l1=[1,8,7,2,21,15,-9,-987,67,876,54,12,0,-2 ,-6]
l1.remove(21) # removes number 21 from list
print(l1)

In [ ]:

#List Slicing
frnds = ["Rutu","Sam","Ruby","Sak","Tia","Isha","Pihu","78"]
print(frnds[0:4])
print(frnds[3:])
print(frnds[-4:])

In [ ]:
#TUPLES METHODS

t=(1,3,4,5,2,7.9,8)
#t1=(2) #throws error
t2=(4,)  #tuple with single element
print(t)
print(t[3])
print(t2)

In [ ]:
# 1.count()
t=(1,2,4,5,4,1,2,5,7,9,8,7,9)
print(t.count(4))           #how many times 4 is there in tuple t

In [ ]:
# 2.index()
t=(1,2,4,5,4,1,2,5,7,9,8,7,9)
print(t.index(5)) # gives index number of element 5 in the tuple t

In [ ]:
#Problems based on list and tuples
# 1.write a program to store 7 fruits in a list entered by the user
f1=input("Enter fruit number 1 :")
f2=input("Enter fruit number 2 :")
f3=input("Enter fruit number 3 :")
f4=input("Enter fruit number 4 :")
f5=input("Enter fruit number 5 :")
f6=input("Enter fruit number 6 :")
f7=input("Enter fruit number 7 :")

myfruitlist=[f1,f2,f3,f4,f5,f6,f7]
print(myfruitlist)

In [ ]:
# 2.write a program to accept marks of 6 students and display them in a sorted manner
m1=input(int("Enter marks of student 1 :"))
m2=input(int("Enter marks of student 2 :"))
m3=input(int("Enter marks of student 3 :"))
m4=input(int("Enter marks of student 4 :"))
m5=input(int("Enter marks of student 5 :"))
m6=input(int("Enter marks of student 6 :"))

mylist = [m1,m2,m3,m4,m5,m6]
mylist.sort()
print(mylist)

In [ ]:
#Problems on Dictionary and Sets.
#DICTIONARY

mydict={"Fast":"In a quick manner","Riya":"A Coder","Marks":"[2,3,4,56]","anotherdict":{'Sam':'player'}}
print(mydict['Fast'])
print(mydict['Riya'])
print(mydict['Marks'])
print(mydict['anotherdict']['Sam'])

In [1]:
#Dictionary methods

# 1.keys()           2.value()          3.items()        4.update()

mydict={"Fast":"In a quick manner","Riya":"A Coder","Marks":"[2,3,4,56]","anotherdict":{'Sam':'player'}}

print(list(mydict.keys()))

print(list(mydict.values()))

print(list(mydict.items()))

print(mydict)

updic={"Lavish":"Friend","Hiee":"Bye","Riya":"Dancer"} # updates previous values also...

mydict.update(updic)

print(mydict)

['Fast', 'Riya', 'Marks', 'anotherdict']
['In a quick manner', 'A Coder', '[2,3,4,56]', {'Sam': 'player'}]
[('Fast', 'In a quick manner'), ('Riya', 'A Coder'), ('Marks', '[2,3,4,56]'), ('anotherdict', {'Sam': 'player'})]
{'Fast': 'In a quick manner', 'Riya': 'A Coder', 'Marks': '[2,3,4,56]', 'anotherdict': {'Sam': 'player'}}
{'Fast': 'In a quick manner', 'Riya': 'Dancer', 'Marks': '[2,3,4,56]', 'anotherdict': {'Sam': 'player'}, 'Lavish': 'Friend', 'Hiee': 'Bye'}

In [ ]:
# 5.get()
mydict={"Fast":"In a quick manner","Riya":"A Coder","Marks":"[2,3,4,56]","anotherdict":{'Sam':'player'}}

print(mydict.get("Riya"))      # returns value associated with key Riya

print(mydict.get("Riya2"))     # returns none as Riya 2 is not present in dict

#print(mydict[]"Riya2"])        # throws error as Riya 2 is not present in dict

In [ ]:
#SETS

a = {0}      #empty set
b = set()
print(b)
print(a)
print(type(b))
print(type(a))

In [ ]:
# SET METHODS
# 1.add()

b = set()
b.add(3)
b.add(7)
b.add(8)
b.add(3)
#b.add([4,5,6,7])     # we cannot add list & dictionary in set bcz both are mutable or non-hashable 
b.add((2,3,7,5,8))    # we can add tuple in set 

print(b)

In [ ]:
# 2.len()
b = set()
b.add(3)
b.add(7)
b.add(8)
b.add(3)
b.add((2,3,7,5,8))   

print(len(b))           #prints length of set

print(b)

In [ ]:
# pop() removes arbitrary element from set & returns the element removed

b = set()
b.add(3)
b.add(7)
b.add(8)
b.add(3)
b.add((2,3,7,5,8))   
print(b.pop())

print(b)

In [ ]:
# problem 1: can we have 18 int and "18" string as a values in it
s={18,"18",18.1,789,789,9,78}
print(s)

In [ ]:
# problem 2 what will be length of following set s
s=set()
s.add(20)            # as 20 & 20.0 are equal therefore they are counted as one
s.add(20.0)
s.add("20")          # here 20 is string
print(s)
print(len(s))